In [21]:
import pandas as pd

In [22]:
trafficDf1 = pd.read_csv('traffic-crashes-vehicles.csv')
trafficDf1.describe()

C:\Users\abdul\AppData\Local\Temp\ipykernel_15272\2119128882.py:1: DtypeWarning: Columns (17,19,38,39,40,42,46,47,48,51,53,56,57,58,59,69) have mixed types. Specify dtype option on import or set low_memory=False.
  trafficDf1 = pd.read_csv('traffic-crashes-vehicles.csv')

,CRASH_UNIT_ID,UNIT_NO,VEHICLE_ID,VEHICLE_YEAR,OCCUPANT_CNT,CMV_ID,TRAILER1_LENGTH,TRAILER2_LENGTH,TOTAL_VEHICLE_LENGTH,AXLE_CNT
count,1.680892e+06,1.680892e+06,1.642419e+06,1.378934e+06,1.642419e+06,17100.000000,2352.000000,68.000000,2858.000000,4297.000000
mean,8.988982e+05,3.812558e+00,8.549934e+05,2.014043e+03,1.078731e+00,9538.271988,48.503827,44.779412,53.175647,9.762160
std,5.204999e+05,2.914043e+03,4.937966e+05,1.381399e+02,7.821784e-01,5516.665921,20.826397,27.902199,31.329729,396.725752
min,2.000000e+00,0.000000e+00,2.000000e+00,1.900000e+03,0.000000e+00,1.000000,1.000000,1.000000,1.000000,1.000000
25%,4.472928e+05,1.000000e+00,4.277905e+05,2.007000e+03,1.000000e+00,4715.750000,45.000000,24.750000,35.000000,2.000000
50%,8.999105e+05,2.000000e+00,8.534420e+05,2.013000e+03,1.000000e+00,9568.500000,53.000000,50.000000,53.000000,3.000000
75%,1.349798e+06,2.000000e+00,1.281884e+06,2.016000e+03,1.000000e+00,14332.250000,53.000000,53.000000,66.000000,5.000000
max,1.798489e+06,3.778035e+06,1.712856e+06,9.999000e+03,9.900000e+01,19042.000000,740.000000,123.000000,999.000000,26009.000000

In [23]:
trafficDf1.head()

,CRASH_UNIT_ID,CRASH_RECORD_ID,CRASH_DATE,UNIT_NO,UNIT_TYPE,VEHICLE_ID,CMRC_VEH_I,MAKE,MODEL,LIC_PLATE_STATE,...,TRAILER1_LENGTH,TRAILER2_LENGTH,TOTAL_VEHICLE_LENGTH,AXLE_CNT,VEHICLE_CONFIG,CARGO_BODY_TYPE,LOAD_TYPE,HAZMAT_OUT_OF_SERVICE_I,MCS_OUT_OF_SERVICE_I,HAZMAT_CLASS
0,1717556,7b1763088507f77e0e552c009a6bf89a4d6330c7527706...,12/06/2023 03:24:00 PM,1,DRIVER,1634931.0,NaN,NISSAN,SENTRA,IL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1717574,2603ff5a88f0b9b54576934c5ed4e4a64e8278e005687b...,12/06/2023 04:00:00 PM,2,DRIVER,1634978.0,NaN,CHRYSLER,SEBRING,IL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1717579,a52ef70e33d468b855b5be44e8638a564434dcf99c0edf...,12/06/2023 04:30:00 PM,1,DRIVER,1634948.0,NaN,SUBARU,OUTBACK,IL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1720118,609055f4b1a72a44d6ec40ba9036cefd7c1287a755eb6c...,12/10/2023 12:12:00 PM,1,DRIVER,1637401.0,NaN,TOYOTA,RAV4,IL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1720119,609055f4b1a72a44d6ec40ba9036cefd7c1287a755eb6c...,12/10/2023 12:12:00 PM,2,DRIVER,1637408.0,NaN,SUBARU,OUTBACK,OK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
trafficDf1

,CRASH_UNIT_ID,CRASH_RECORD_ID,CRASH_DATE,UNIT_NO,UNIT_TYPE,VEHICLE_ID,CMRC_VEH_I,MAKE,MODEL,LIC_PLATE_STATE,...,TRAILER1_LENGTH,TRAILER2_LENGTH,TOTAL_VEHICLE_LENGTH,AXLE_CNT,VEHICLE_CONFIG,CARGO_BODY_TYPE,LOAD_TYPE,HAZMAT_OUT_OF_SERVICE_I,MCS_OUT_OF_SERVICE_I,HAZMAT_CLASS
0,1717556,7b1763088507f77e0e552c009a6bf89a4d6330c7527706...,12/06/2023 03:24:00 PM,1,DRIVER,1634931.0,NaN,NISSAN,SENTRA,IL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1717574,2603ff5a88f0b9b54576934c5ed4e4a64e8278e005687b...,12/06/2023 04:00:00 PM,2,DRIVER,1634978.0,NaN,CHRYSLER,SEBRING,IL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1717579,a52ef70e33d468b855b5be44e8638a564434dcf99c0edf...,12/06/2023 04:30:00 PM,1,DRIVER,1634948.0,NaN,SUBARU,OUTBACK,IL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1720118,609055f4b1a72a44d6ec40ba9036cefd7c1287a755eb6c...,12/10/2023 12:12:00 PM,1,DRIVER,1637401.0,NaN,TOYOTA,RAV4,IL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1720119,609055f4b1a72a44d6ec40ba9036cefd7c1287a755eb6c...,12/10/2023 12:12:00 PM,2,DRIVER,1637408.0,NaN,SUBARU,OUTBACK,OK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1680887,1792357,50f1ee1cffabbc3f4546c5b8fa0f74a64c3604711b2391...,03/31/2024 01:03:00 AM,2,DRIVER,1706983.0,NaN,CHEVROLET,MALIBU,IL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1680888,1792358,50f1ee1cffabbc3f4546c5b8fa0f74a64c3604711b2391...,03/31/2024 01:03:00 AM,1,DRIVER,1706984.0,NaN,DODGE,CARAVAN,IN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1680889,1792603,8442b8de4eb4519aad542b1bc538f98617523287971452...,03/31/2024 01:15:00 PM,1,DRIVER,1707226.0,NaN,UNKNOWN,OTHER (EXPLAIN IN NARRATIVE),NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1680890,1792604,8442b8de4eb4519aad542b1bc538f98617523287971452...,03/31/2024 01:15:00 PM,2,PARKED,1707223.0,NaN,GENERAL MOTORS CORPORATION (GMC),TERRAIN,IL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1680891,1795574,b0f99edea6b047573abce2d14f9ffd6d7ebea052e514b3...,03/31/2024 01:55:00 PM,1,DRIVER,1710083.0,NaN,BMW,OTHER (EXPLAIN IN NARRATIVE),IL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
trafficDf1.loc[1]

CRASH_UNIT_ID                                                        1717574
CRASH_RECORD_ID            2603ff5a88f0b9b54576934c5ed4e4a64e8278e005687b...
CRASH_DATE                                            12/06/2023 04:00:00 PM
UNIT_NO                                                                    2
UNIT_TYPE                                                             DRIVER
                                                 ...
CARGO_BODY_TYPE                                                          NaN
LOAD_TYPE                                                                NaN
HAZMAT_OUT_OF_SERVICE_I                                                  NaN
MCS_OUT_OF_SERVICE_I                                                     NaN
HAZMAT_CLASS                                                             NaN
Name: 1, Length: 70, dtype: object

In [5]:
trafficDf1.iloc[1]

CRASH_UNIT_ID                                                        1717574
CRASH_RECORD_ID            2603ff5a88f0b9b54576934c5ed4e4a64e8278e005687b...
CRASH_DATE                                            12/06/2023 04:00:00 PM
UNIT_NO                                                                    2
UNIT_TYPE                                                             DRIVER
                                                 ...
CARGO_BODY_TYPE                                                          NaN
LOAD_TYPE                                                                NaN
HAZMAT_OUT_OF_SERVICE_I                                                  NaN
MCS_OUT_OF_SERVICE_I                                                     NaN
HAZMAT_CLASS                                                             NaN
Name: 1, Length: 70, dtype: object

In [6]:
trafficDf1.columns

Index(['CRASH_UNIT_ID', 'CRASH_RECORD_ID', 'CRASH_DATE', 'UNIT_NO',
       'UNIT_TYPE', 'VEHICLE_ID', 'CMRC_VEH_I', 'MAKE', 'MODEL',
       'LIC_PLATE_STATE', 'VEHICLE_YEAR', 'VEHICLE_DEFECT', 'VEHICLE_TYPE',
       'VEHICLE_USE', 'TRAVEL_DIRECTION', 'MANEUVER', 'TOWED_I', 'FIRE_I',
       'OCCUPANT_CNT', 'EXCEED_SPEED_LIMIT_I', 'TOWED_BY', 'TOWED_TO',
       'AREA_00_I', 'AREA_01_I', 'AREA_02_I', 'AREA_03_I', 'AREA_04_I',
       'AREA_05_I', 'AREA_06_I', 'AREA_07_I', 'AREA_08_I', 'AREA_09_I',
       'AREA_10_I', 'AREA_11_I', 'AREA_12_I', 'AREA_99_I',
       'FIRST_CONTACT_POINT', 'CMV_ID', 'USDOT_NO', 'CCMC_NO', 'ILCC_NO',
       'COMMERCIAL_SRC', 'GVWR', 'CARRIER_NAME', 'CARRIER_STATE',
       'CARRIER_CITY', 'HAZMAT_PLACARDS_I', 'HAZMAT_NAME', 'UN_NO',
       'HAZMAT_PRESENT_I', 'HAZMAT_REPORT_I', 'HAZMAT_REPORT_NO',
       'MCS_REPORT_I', 'MCS_REPORT_NO', 'HAZMAT_VIO_CAUSE_CRASH_I',
       'MCS_VIO_CAUSE_CRASH_I', 'IDOT_PERMIT_NO', 'WIDE_LOAD_I',
       'TRAILER1_WIDTH', 'TRAILER2_WIDTH', 'TRAILER1_LENGTH',
       'TRAILER2_LENGTH', 'TOTAL_VEHICLE_LENGTH', 'AXLE_CNT', 'VEHICLE_CONFIG',
       'CARGO_BODY_TYPE', 'LOAD_TYPE', 'HAZMAT_OUT_OF_SERVICE_I',
       'MCS_OUT_OF_SERVICE_I', 'HAZMAT_CLASS'],
      dtype='object')

In [7]:
trafficDf1.dtypes

CRASH_UNIT_ID               int64
CRASH_RECORD_ID            object
CRASH_DATE                 object
UNIT_NO                     int64
UNIT_TYPE                  object
                            ...
CARGO_BODY_TYPE            object
LOAD_TYPE                  object
HAZMAT_OUT_OF_SERVICE_I    object
MCS_OUT_OF_SERVICE_I       object
HAZMAT_CLASS               object
Length: 70, dtype: object

In [10]:
df_cat = trafficDf1.select_dtypes(include=['object'])
df_cat.columns

Index(['CRASH_RECORD_ID', 'CRASH_DATE', 'UNIT_TYPE', 'CMRC_VEH_I', 'MAKE',
       'MODEL', 'LIC_PLATE_STATE', 'VEHICLE_DEFECT', 'VEHICLE_TYPE',
       'VEHICLE_USE', 'TRAVEL_DIRECTION', 'MANEUVER', 'TOWED_I', 'FIRE_I',
       'EXCEED_SPEED_LIMIT_I', 'TOWED_BY', 'TOWED_TO', 'AREA_00_I',
       'AREA_01_I', 'AREA_02_I', 'AREA_03_I', 'AREA_04_I', 'AREA_05_I',
       'AREA_06_I', 'AREA_07_I', 'AREA_08_I', 'AREA_09_I', 'AREA_10_I',
       'AREA_11_I', 'AREA_12_I', 'AREA_99_I', 'FIRST_CONTACT_POINT',
       'USDOT_NO', 'CCMC_NO', 'ILCC_NO', 'COMMERCIAL_SRC', 'GVWR',
       'CARRIER_NAME', 'CARRIER_STATE', 'CARRIER_CITY', 'HAZMAT_PLACARDS_I',
       'HAZMAT_NAME', 'UN_NO', 'HAZMAT_PRESENT_I', 'HAZMAT_REPORT_I',
       'HAZMAT_REPORT_NO', 'MCS_REPORT_I', 'MCS_REPORT_NO',
       'HAZMAT_VIO_CAUSE_CRASH_I', 'MCS_VIO_CAUSE_CRASH_I', 'IDOT_PERMIT_NO',
       'WIDE_LOAD_I', 'TRAILER1_WIDTH', 'TRAILER2_WIDTH', 'VEHICLE_CONFIG',
       'CARGO_BODY_TYPE', 'LOAD_TYPE', 'HAZMAT_OUT_OF_SERVICE_I',
       'MCS_OUT_OF_SERVICE_I', 'HAZMAT_CLASS'],
      dtype='object')

In [11]:
types = {col: 'category' for col in df_cat} # Always try to use comperhenstions for efficiency and the ease of syntax
df_cat = df_cat.astype(types)
df_cat.dtypes

CRASH_RECORD_ID             category
CRASH_DATE                  category
UNIT_TYPE                   category
CMRC_VEH_I                  category
MAKE                        category
MODEL                       category
LIC_PLATE_STATE             category
VEHICLE_DEFECT              category
VEHICLE_TYPE                category
VEHICLE_USE                 category
TRAVEL_DIRECTION            category
MANEUVER                    category
TOWED_I                     category
FIRE_I                      category
EXCEED_SPEED_LIMIT_I        category
TOWED_BY                    category
TOWED_TO                    category
AREA_00_I                   category
AREA_01_I                   category
AREA_02_I                   category
AREA_03_I                   category
AREA_04_I                   category
AREA_05_I                   category
AREA_06_I                   category
AREA_07_I                   category
AREA_08_I                   category
AREA_09_I                   category
AREA_10_I                   category
AREA_11_I                   category
AREA_12_I                   category
AREA_99_I                   category
FIRST_CONTACT_POINT         category
USDOT_NO                    category
CCMC_NO                     category
ILCC_NO                     category
COMMERCIAL_SRC              category
GVWR                        category
CARRIER_NAME                category
CARRIER_STATE               category
CARRIER_CITY                category
HAZMAT_PLACARDS_I           category
HAZMAT_NAME                 category
UN_NO                       category
HAZMAT_PRESENT_I            category
HAZMAT_REPORT_I             category
HAZMAT_REPORT_NO            category
MCS_REPORT_I                category
MCS_REPORT_NO               category
HAZMAT_VIO_CAUSE_CRASH_I    category
MCS_VIO_CAUSE_CRASH_I       category
IDOT_PERMIT_NO              category
WIDE_LOAD_I                 category
TRAILER1_WIDTH              category
TRAILER2_WIDTH              category
VEHICLE_CONFIG              category
CARGO_BODY_TYPE             category
LOAD_TYPE                   category
HAZMAT_OUT_OF_SERVICE_I     category
MCS_OUT_OF_SERVICE_I        category
HAZMAT_CLASS                category
dtype: object

In [12]:
trafficDf1.nunique()

CRASH_UNIT_ID              1680892
CRASH_RECORD_ID             823957
CRASH_DATE                  541221
UNIT_NO                         20
UNIT_TYPE                        9
                            ...
CARGO_BODY_TYPE                  9
LOAD_TYPE                        6
HAZMAT_OUT_OF_SERVICE_I          2
MCS_OUT_OF_SERVICE_I             2
HAZMAT_CLASS                     8
Length: 70, dtype: int64

In [14]:
a = trafficDf1.isnull().sum()
a

CRASH_UNIT_ID                    0
CRASH_RECORD_ID                  0
CRASH_DATE                       0
UNIT_NO                          0
UNIT_TYPE                     2150
                            ...
CARGO_BODY_TYPE            1667351
LOAD_TYPE                  1667946
HAZMAT_OUT_OF_SERVICE_I    1669111
MCS_OUT_OF_SERVICE_I       1668862
HAZMAT_CLASS               1679791
Length: 70, dtype: int64

In [16]:
trafficDf1.value_counts()

Series([], dtype: int64)

In [17]:
# columns_to_drop =['CRASH_UNIT_ID','CRASH_RECORD_ID','UNIT_NO','VEHICLE_ID',
#                   'CMRC_VEH_I','MAKE','MODEL','LIC_PLATE_STATE','VEHICLE_YEAR',
#                   'VEHICLE_USE','TRAVEL_DIRECTION','TOWED_I','TOWED_TO','TOWED_BY',
#                   'FIRE_I','OCCUPANT_CNT']
# trafficDf1.drop(columns_to_drop,axis=1,inplace=True)

In [18]:
trafficDf1

,CRASH_DATE,UNIT_TYPE,VEHICLE_DEFECT,VEHICLE_TYPE,MANEUVER,EXCEED_SPEED_LIMIT_I,AREA_00_I,AREA_01_I,AREA_02_I,AREA_03_I,...,TRAILER1_LENGTH,TRAILER2_LENGTH,TOTAL_VEHICLE_LENGTH,AXLE_CNT,VEHICLE_CONFIG,CARGO_BODY_TYPE,LOAD_TYPE,HAZMAT_OUT_OF_SERVICE_I,MCS_OUT_OF_SERVICE_I,HAZMAT_CLASS
0,12/06/2023 03:24:00 PM,DRIVER,UNKNOWN,UNKNOWN/NA,SLOW/STOP IN TRAFFIC,NaN,NaN,NaN,Y,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,12/06/2023 04:00:00 PM,DRIVER,NONE,PASSENGER,PASSING/OVERTAKING,NaN,NaN,NaN,NaN,Y,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,12/06/2023 04:30:00 PM,DRIVER,UNKNOWN,PASSENGER,TURNING RIGHT,NaN,NaN,Y,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,12/10/2023 12:12:00 PM,DRIVER,UNKNOWN,PASSENGER,STRAIGHT AHEAD,NaN,NaN,Y,Y,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,12/10/2023 12:12:00 PM,DRIVER,NONE,PASSENGER,STRAIGHT AHEAD,NaN,NaN,Y,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1680887,03/31/2024 01:03:00 AM,DRIVER,UNKNOWN,PASSENGER,STRAIGHT AHEAD,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1680888,03/31/2024 01:03:00 AM,DRIVER,UNKNOWN,VAN/MINI-VAN,STRAIGHT AHEAD,NaN,NaN,Y,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1680889,03/31/2024 01:15:00 PM,DRIVER,UNKNOWN,UNKNOWN/NA,UNKNOWN/NA,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1680890,03/31/2024 01:15:00 PM,PARKED,NONE,PASSENGER,PARKED,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1680891,03/31/2024 01:55:00 PM,DRIVER,NONE,PASSENGER,STRAIGHT AHEAD,NaN,NaN,Y,Y,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN